
{% extends "layout.html" %}
{% block title %}Messages{% endblock %}
{% block content %}


Discussion area: {{ area.full_name }}
<br>
Chain:  {{ chain.full_name }}
<br>
Created by: {{ chain.creator }}
<br>

<br><br><br>
Messages in chain:
<p>
{% for msg in messages %}

Topic: {{ msg.full_name }}  Story: {{ msg.message_text }}  Created by:  {{ msg.creator }} Created at: {{ msg.created_at }} 
 <p>
{% endfor %}
</p>
<input type="hidden" id="area" name="area" value= {{ area.area_id }}>
<input type="hidden" id="chain" name="chain" value= {{ chain.chain_id }}>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

{% if session.role != "reader" %}

<li><a href="/addnewmessage/{{ chain.chain_id }}">Add new message to chain </a></li>

{% endif %}

{% endblock %}


<br> <br>  <a href="/">Go back to main page</a>

